.form {
  margin: auto;
  max-width: 522px;
  display: flex;
}

.submitButton {
  margin-left: 12px;
}

.circlesContainer {
  display: flex;
  margin: auto;
  margin-top: 40px;
  justify-content: center;
}
